@font-face {
  font-family: "Roboto";

  src: url("/Fonts/RobotoMono-Medium.ttf") format("truetype");

  font-weight: normal;

  font-style: normal;
}

@font-face {
  font-family: "Roboto-Light";

  src: url("/Fonts/RobotoMono-Light.ttf") format("truetype");

  font-weight: normal;

  font-style: normal;
}

.ewd-svg {
  position: absolute;
  width: 1280px;
  height: 1280px;
  background: radial-gradient(ellipse at center, #0d1423 0%, #0d1423 100%);
  visibility: visible !important;
  font-family: Roboto;
}

.ewd-svg path {
  stroke: white;
  stroke-width: 3;
}