@font-face {
  src: url("/Fonts/AirbusRMP.ttf") format("truetype");

  font-family: "Digital";

  font-style: normal;

  font-weight: 900;
}

.atc-svg {
  background-color: #1a1005;
  height: 100%;
  width: 100%;
  left: 0;
}

text {
  alignment-baseline: central;
  font-family: Digital;
  fill: #975b1c;
  font-size: 100px;
  text-anchor: start;
}