@font-face {
  font-family: "Ecam";

  src: url("/Fonts/ECAMFontRegular.ttf") format("truetype");

  font-weight: normal;

  font-style: normal;
}

.sd-svg {
  position: absolute;
  width: 1280px;
  height: 1280px;
  background: radial-gradient(ellipse at center, #0d1423 0%, #0d1423 100%);
  visibility: visible !important;
  font-family: "Ecam", monospace !important;
}
#pageTitle.PageTitle {
  font-size: 24px;
  text-decoration: underline;
  fill: #ffffff;
}
#main-elec .Box {
  stroke: #EEEEEE;
  fill: none;
  stroke-width: 2.5px;
}

#main-elec path {
  stroke: #EEEEEE;
  stroke-width: 2.25px;
  stroke-linecap: square;
  stroke-linejoin: miter;
}

#main-elec path.Green {
  stroke: #00ff00;
}

#main-elec path.Amber {
  stroke: #e68000;
}

#main-elec rect.Bus {
  fill: #636363;
}

#main-elec text {
  fill: #EEEEEE;
  font-family: "Roboto Mono", monospace;
  font-size: 19px;
}

#main-elec text.ExtraLarge {
  font-size: 26px;
}

#main-elec text.Large {
  font-size: 22px;
}

#main-elec text.Small {
  font-size: 16.875px;
}

#main-elec text.ExtraSmall {
  font-size: 15px;
}

#main-elec text.Middle {
  text-anchor: middle;
  text-align: middle;
}

#main-elec text.Right {
  text-anchor: end;
  text-align: end;
}

#main-elec text.Green {
  fill: #00ff00;
}

#main-elec text.Amber {
  fill: #e68000;
}

#main-elec text.Cyan {
  fill: #00ffff;
}
#cond-page .st5 {
  fill: none;
  stroke: #00ff00;
  stroke-width: 2;
}

#cond-page .pump-off {
  fill: none;
  stroke: #e68000;
  stroke-width: 2;
}

#cond-page #titleAndWarnings text {
  font-size: 20px;
  fill: #ffffff;
}

#cond-page #titleAndWarnings .PageTitle {
  font-size: 24px;
  text-decoration: underline;
  fill: #ffffff;
}

#cond-page #titleAndWarnings .TempText {
  font-size: 20px;
  fill: #ffffff;
}

#cond-page #titleAndWarnings .UnitText {
  font-size: 17px;
  fill: #00ffff;
}

#cond-page .CondPlane {
  stroke: lightgray;
  stroke-width: 1;
  fill: none;
}

#cond-page .Cond {
  text-anchor: middle !important;
}

#cond-page .Cond .title {
  font-size: 18px;
  fill: #ffffff;
}

#cond-page .Cond .valueText {
  font-size: 16px;
  fill: #00ff00;
}

#cond-page .Cond .DuctStatus {
  fill: #ffffff;
  font-weight: bold;
  font-size: 22px;
}

#cond-page .Cond .Gauge {
  fill: none;
  stroke: #ffffff;
  stroke-width: 2;
  stroke-miterlimit: 10;
}

#cond-page #ValveAndTubes .valve-moving > .st5 {
  stroke: #e68000;
}

#cond-page #ValveAndTubes .DuctStatus {
  fill: #ffffff;
  font-weight: bold;
  font-size: 22px;
}

#cond-page #ValveAndTubes .Hide {
  display: none;
}
#door-page .Hide {
  display: none;
}

#door-page .WarningShape {
  fill: #e68000;
  stroke: #e68000;
  stroke-width: 2;
}

#door-page .MainShape {
  fill: transparent;
  stroke: lightgray;
  stroke-width: 2;
}

#door-page .DoorShape {
  fill: transparent;
  stroke: #00ff00;
  stroke-width: 2;
}

#door-page #texts .Title {
  font-size: 24px;
  fill: #ffffff;
}

#door-page #texts .Slide {
  font-size: 16px;
  fill: #ffffff;
}

#door-page #texts .Warning {
  font-size: 18px;
  fill: #e68000;
}

#door-page #texts .OxyWarn {
  font-size: 20px;
  fill: #e68000;
}

#door-page #texts .Oxygen {
  font-size: 20px;
  fill: #ffffff;
}

#door-page #texts .Unit {
  font-size: 18px;
  fill: #00ffff;
}

#door-page #texts .Value {
  font-size: 20px;
  fill: #00ff00;
}
#ecam-fctl .PageTitle {
  font-size: 24px;
  text-decoration: underline;
  fill: #ffffff;
}

#ecam-fctl .GreenShapeThick {
  fill: transparent;
  stroke: #00ff00;
  stroke-width: 3;
}

#ecam-fctl .WarningShapeThick {
  fill: transparent;
  stroke: #e68000;
  stroke-width: 3;
}

#ecam-fctl .MainShape {
  fill: transparent;
  stroke: lightgray;
  stroke-width: 2;
}

#ecam-fctl .MainShapeCyan {
  fill: transparent;
  stroke: #00ffff;
  stroke-width: 2;
}

#ecam-fctl .MainShapeWarning {
  fill: transparent;
  stroke: #e68000;
  stroke-width: 2;
}

#ecam-fctl .MainShape4 {
  fill: transparent;
  stroke: #00ff00;
  stroke-width: 4;
}

#ecam-fctl .RudderTrim {
  fill: transparent;
  stroke: #00ffff;
  stroke-width: 3;
}

#ecam-fctl .GreenShape {
  fill: transparent;
  stroke: #00ff00;
  stroke-width: 2;
}

#ecam-fctl .WarningShape {
  fill: transparent;
  stroke: #e68000;
  stroke-width: 2;
}

#ecam-fctl .HydBgShape {
  fill: #787878;
  stroke: none;
}

#ecam-fctl .Warning {
  fill: #e68000;
}

#ecam-fctl .Value {
  fill: #00ff00;
}

#ecam-fctl .ValueCyan {
  fill: #00ffff;
}

#ecam-fctl .ValueWarning {
  fill: #e68000;
}

#ecam-fctl .Small {
  font-size: 14px !important;
}

#ecam-fctl .Medium {
  font-size: 16px;
}

#ecam-fctl .Standard {
  font-size: 18px;
}

#ecam-fctl .Large {
  font-size: 20px;
}

#ecam-fctl .Note {
  font-size: 16px;
  fill: #ffffff;
}
.sd-status-line {
  stroke: white;
  stroke-width: 3;
}
text.text-unit {
  fill: #00ffff;
  font-size: 17px;
}

text.text-value {
  fill: #00ff00;
  font-size: 20px;
}

text.text-warning {
  fill: #e68000;
  font-size: 20px;
}

text.text-big-value {
  fill: #00ff00;
  font-size: 22px;
}

text.text-title {
  fill: #ffffff;
  font-size: 20px;
}