.SelfTest {
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
  border: none;
}

.SelfTestBackground {
  fill: #040405;
}

.SelfTestText {
  font-size: 24px;
  fill: #00ff00;
  text-anchor: middle;
  font-family: "Ecam", monospace;
}
@keyframes blinking {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  51% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

@keyframes OuterMarkerAnim {
  0% {
    opacity: 0;
  }

  33% {
    opacity: 0;
  }

  34% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

@keyframes MiddleMarkerAnim {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 0;
  }

  11% {
    opacity: 1;
  }

  27% {
    opacity: 1;
  }

  28% {
    opacity: 0;
  }

  44% {
    opacity: 0;
  }

  45% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

.BlinkInfinite {
  animation-name: blinking;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.Blink9Seconds {
  animation-name: blinking;
  animation-duration: 1s;
  animation-iteration-count: 9;
}

.OuterMarkerBlink {
  animation-name: OuterMarkerAnim;
  animation-duration: 460ms;
  animation-iteration-count: infinite;
}

.MiddleMarkerBlink {
  animation-name: MiddleMarkerAnim;
  animation-duration: 730ms;
  animation-iteration-count: infinite;
}

.InnerMarkerBlink {
  animation-name: blinking;
  animation-duration: 200ms;
  animation-iteration-count: infinite;
}

@font-face {
  font-family: "Ecam";

  src: url("/fonts/ECAMFontRegular.ttf") format("truetype");

  font-weight: normal;

  font-style: normal;
}

.pfd-svg {
  position: absolute;
  width: 1280px;
  height: 1280px;
  background: #040405;
  font-family: "Ecam", monospace !important;
}

.PulseCyanFill {
  animation-name: pulsing;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-name: pulsing;
  animation-duration: 1s;
}

@keyframes pulsing {
  0% {
    fill: #00b3b3;
  }

  50% {
    fill: #00b3b3;
  }

  51% {
    fill: #4dffff;
  }

  100% {
    fill: #4dffff;
  }
}

.BarAmber {
  fill: #e68000;
  stroke: #e68000;
  stroke-width: 0.13px;
}

.BarRed {
  fill: #ff0000;
  stroke: #ff0000;
  stroke-width: 0.11px;
}

.NormalStroke {
  stroke-width: 0.16mm;
  stroke-linecap: round;
}

.ThickStroke {
  stroke-width: 0.22mm;
  stroke-linecap: round;
}

.HugeStroke {
  stroke-width: 0.32mm;
  stroke-linecap: round;
}

.SmallOutline {
  stroke-width: 0.09mm;
  stroke: #040405 !important;
  paint-order: markers stroke fill;
}

.NormalOutline {
  stroke-width: 0.21mm;
  stroke: #040405;
  fill: none;
  stroke-linecap: round;
}

.ThickOutline {
  stroke-width: 0.29mm;
  stroke: #040405;
  fill: none;
  stroke-linecap: round;
}

.HugeOutline {
  stroke-width: 0.39mm;
  stroke: #040405;
  fill: none;
  stroke-linecap: round;
}

.CornerRound {
  stroke-linejoin: round;
}

.FontLargest {
  font-size: 7px;
}

.FontLarge {
  font-size: 6.5px;
}

.FontMedium {
  font-size: 5.5px;
}

.FontSmall {
  font-size: 5px;
}

.FontSmallest {
  font-size: 4.5px;
}

.FontTiny {
  font-size: 4px;
}

.StartAlign {
  text-align: start;
  text-anchor: start;
}

.MiddleAlign {
  text-align: center;
  text-anchor: middle;
}

.EndAlign {
  text-align: end;
  text-anchor: end;
}

.Magenta {
  fill: none;
  stroke: #ff94ff;
}

text.Magenta {
  fill: #ff94ff;
  stroke: none;
}

.Cyan {
  fill: none;
  stroke: #00ffff;
}

text.Cyan {
  fill: #00ffff;
  stroke: none;
}

tspan.Cyan {
  fill: #00ffff;
  stroke: none;
}

.White {
  fill: none;
  stroke: #ffffff;
}

.White.Fill {
  fill: #ffffff;
  stroke: none;
}

text.White {
  fill: #ffffff;
  stroke: none;
}

.Green {
  stroke: #00ff00;
  fill: none;
}

text.Green {
  fill: #00ff00;
  stroke: none;
}

.Amber {
  stroke: #e68000;
  fill: none;
}

text.Amber {
  fill: #e68000;
  stroke: none;
}

.Yellow {
  stroke: #ffff00;
  fill: none;
}

.Yellow.Fill {
  fill: #ffff00;
  stroke: none;
}

text.Yellow {
  fill: #ffff00;
  stroke: none;
}

.Red {
  stroke: #ff0000;
  fill: none;
}

.Red.Fill {
  fill: #ff0000;
  stroke: none;
}

text.Red {
  fill: #ff0000;
  stroke: none;
}

.Grey {
  stroke: #787878;
  fill: none;
}

.EarthFill {
  fill: #9c480c;
}

.SkyFill {
  fill: #0698ff;
}

.BlackFill {
  fill: #040405;
}

.TapeBackground {
  fill: #787878;
  stroke: none;
}

.BackgroundFill {
  fill: #040405;
  stroke: none;
  fill-rule: evenodd;
}